{% comment %} This is only rendered in the customiser to allow us/the merchant to set up which section will be used for which page {% endcomment %}
{% comment %} This div will never get rendered on the frontend {% endcomment %}
<div style="display:none">
  {%- for index in (1..3) -%}
    {%- assign page_key = "page_" | append: index -%}
    {%- if request.path == section.settings[page_key] -%}
    --landing-index:{{- index -}}{%- break -%}
    {%- endif -%}
  {%- endfor -%}
</div>

{% comment %} Specify which page will use which landing section {% endcomment %}
{% schema %}
{
  "name": "Landing Setup",
  "settings": [
    {
      "type": "header",
      "content": "Landing 1"
    },
    {
      "id": "page_1",
      "type": "url",
      "label": "Page"
    },
    {
      "type": "header",
      "content": "Landing 2"
    },
    {
      "id": "page_2",
      "type": "url",
      "label": "Page"
    },
    {
      "type": "header",
      "content": "Landing 3"
    },
    {
      "id": "page_3",
      "type": "url",
      "label": "Page"
    }
  ]
}
{% endschema %}
